// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #dedede;

// Flashes colors
$alert: #b34045;
$notice: #bb7700;
$notice-light: #fecf7d;

// Main colors
$primary-color: #3d3d6d;
