<h1>My Urls</h1>

<%= render 'pages/url_form', url: @url %>

<div class="url-cards">
  <% @urls.each do |url| %>
    <div data-controller="copy-link">
      <%= url_card_tag url %>
    </div>
  <% end %>
</div>
