<h1>My Urls</h1>

<%= render 'pages/url_form', url: @url %>

<% @urls.each do |url| %>
  <div class='url-card'>
    <p><%= url.base_url %></p>
    <% short_url = "#{root_url}#{url.generated_token}" %>
    <%= link_to short_url, short_url, target: "_blank" %>
    <%= link_to '<i class="fas fa-trash"></i>'.html_safe, url_path(url.id), method: :delete, remote: true, data: { confirm: "are you sure?" } %>
  </div>
<% end %>
